@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*Normal hover effect */
.btn_red{
  @apply bg-red-500 px-5 py-2 rounded-md transition ease-in-out delay-150 text-white hover:-translate-y-1  hover:scale-110 hover:bg-red-100 hover:text-red-500 hover:shadow-lg hover:shadow-red-500 duration-300 ;
 
}   

.btn_green{
  @apply bg-green-500 px-5 py-2 rounded-md transition ease-in-out delay-150 text-white hover:-translate-y-1  hover:scale-110 hover:bg-green-100 hover:text-green-500 hover:shadow-lg  hover:shadow-green-500 duration-300 ;
 
}

.btn_gray{
  @apply bg-gray-500 px-6 py-2 rounded-md transition ease-in-out delay-150 text-white hover:-translate-y-1  hover:scale-110 hover:bg-gray-100 hover:text-gray-500 hover:shadow-lg hover:shadow-gray-500 duration-300 ;
 
}

/*right  hover effect */
.btn_redright{
  @apply relative border-2 font-medium border-red-500 bg-transparent py-2 px-3 uppercase text-red-500 transition-colors before:absolute before:left-0  before:top-0 before:-z-10  before:h-full before:w-full before:origin-top-left before:scale-x-0 before:bg-red-500 before:transition-transform  before:duration-300 before:content-[''] hover:text-white before:hover:scale-x-100 rounded-sm;
}

.btn_greenright{
  @apply relative border-2 font-medium border-green-500 bg-transparent py-2 px-3 uppercase text-green-500 transition-colors before:absolute before:left-0  before:top-0 before:-z-10  before:h-full before:w-full before:origin-top-left before:scale-x-0 before:bg-green-500 before:transition-transform  before:duration-300 before:content-[''] hover:text-white before:hover:scale-x-100 rounded-sm;
}

.btn_grayright{
  @apply relative border-2 font-medium border-gray-700 bg-transparent py-2 px-3 uppercase text-gray-700 transition-colors before:absolute before:left-0  before:top-0 before:-z-10  before:h-full before:w-full before:origin-top-left before:scale-x-0 before:bg-gray-700 before:transition-transform  before:duration-300 before:content-[''] hover:text-white before:hover:scale-x-100 rounded-sm;
}

/*left hover effect */

.btn_redhover{
  @apply relative border-2 font-medium border-red-500 bg-transparent py-2 px-3 uppercase text-red-500 transition-colors before:absolute before:right-0  before:top-0 before:-z-10  before:h-full before:w-full before:origin-top-right before:scale-x-0 before:bg-red-500 before:transition-transform  before:duration-300 before:content-[''] hover:text-white before:hover:scale-x-100 rounded-sm ;
}

.btn_greenhover{
  @apply relative border-2 font-medium border-green-500 bg-transparent py-2 px-3 uppercase text-green-500 transition-colors before:absolute before:right-0  before:top-0 before:-z-10  before:h-full before:w-full before:origin-top-right before:scale-x-0 before:bg-green-500 before:transition-transform  before:duration-300 before:content-[''] hover:text-white before:hover:scale-x-100 rounded-sm ;
}

.btn_grayhover{

  @apply relative border-2 font-medium border-gray-700 bg-transparent py-2 px-3 uppercase text-gray-700 transition-colors before:absolute before:right-0  before:top-0 before:-z-10  before:h-full before:w-full before:origin-top-right before:scale-x-0 before:bg-gray-700 before:transition-transform  before:duration-300 before:content-[''] hover:text-white before:hover:scale-x-100 rounded-sm;
}

/*ring hover effect */
.btn_redring{

  @apply inline-flex items-center justify-center w-full px-6 py-2 text-base font-bold leading-6 text-white bg-red-500 border border-transparent rounded-full md:w-auto hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;

}

.btn_greenring{

  @apply inline-flex items-center justify-center w-full px-6 py-2 text-base font-bold leading-6 text-white bg-green-500 border border-transparent rounded-full md:w-auto hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500;

}

 .btn_grayring{

  @apply inline-flex items-center justify-center w-full px-6 py-2 text-base font-bold leading-6 text-white bg-gray-700 border border-transparent rounded-full md:w-auto hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700;

} 


